* {box-sizing:border-box;}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    
}
#container{
    background-image: url('img/taust.png');
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover{
    text-decoration: underline;
}
#header{
    height: 11vh;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    font-size: 30px;
    /* color: white; */
    text-decoration: underline solid transparent;
    transition: text-decoration 500ms ease;
    font-family:'Quicksand', sans-serif;
    /* color: rgb(255, 255, 255); */
    
}
.fa-question-circle{
    margin-right: 5px;
}
#navResults{
    border-bottom: 2px solid #dfe7f5;
    height: 100px;

    /* border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #5b7c9f, rgba(0, 0, 0, 0)) 100% 1; */
}
#head1, #head1results{
    position: absolute;
    left: 40%;
    top: 20px;
} 
#head2, #head2results{
    position: absolute;
    right: 40px;
    top: 25px;
    font-size: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#head2 a:link{
    color: white !important;
}
#head2 a:visited{
    color: white !important;
}
#head2 a:hover{
    color: #dfe7f5 !important;
}
#head2results a:link{
    color: rgb(0, 0, 0) !important;
}
#head2results a:visited{
    color: rgb(0, 0, 0) !important;
}
#head2results a:hover{
    color: #6183be !important;
}



#section1{
    min-height: 89vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 45px;
}


#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* padding: 5px 75px 30px 75px; */
    background-color: rgba(71, 67, 65, 0.8);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
#head-input{
    background-color: rgb(35, 161, 87);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
#form{
    padding: 30px 60px 30px 60px;
}
input{
    border: none;
    box-shadow: inset 0 0 10px #1f201f9c;
    padding: 10px 5px 10px 15px;
    margin: 5px 10px 5px 10px;
}
input:focus{
    outline: 2px solid;
    outline-color: rgba(35, 161, 87);
}
input[type=number]{
    width: 125px;
}
input[type=text]{
    width: 200px;
}
input[type=submit]{
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    background-color: rgba(35, 161, 87);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    margin-top: 20px;
    transition:background-color 1s;
}
input[type=submit]:hover{
    background-color: rgb(27, 121, 66);
    cursor: pointer;
}
#scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}
svg .shape-fill {
    fill: #EAF5E3;
}




#section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    /*background-image: url('img/taustfirmad.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(246, 250, 249);
    
    
}
#logos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}




#section3{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 245, 227);
}
#procontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.pros{
    width: 25%;
    max-width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 30px 60px 30px;
    padding: 15px;
    background-color: rgb(251, 255, 252);
    border-radius: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.h-pros{
    margin-bottom: 5px;
    margin-top: 25px;
}
.txt-pros{
    color:rgb(82, 87, 84);
    text-align: center;
    max-width: 300px;
    line-height: 2;
    font-size: 17px;
}
.pic-pros{
    margin-top: 20px;
}

#section4{
    background-color: rgb(230, 247, 242);
    height: auto;
    padding: 30px 50px 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(61, 71, 69);
}

.accordion{
    background-color: rgb(255, 255, 255);
    color: rgb(81, 94, 86);
    cursor: pointer;
    padding: 18px;
    margin-top: 4px;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}
.active, .accordion:hover{
    background-color: rgb(221, 219, 219);
}
.panel{
    padding: 0 18px;
    width: 70%;
    background-color: rgb(244, 244, 247);
    display: none;
    overflow: hidden;
}






#section10{
    min-height: 93vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 60px 0px;
    box-shadow: 0px 5px 10px #dfe7f5 inset;
}
#enteredsize{
    width: 85%;
    padding: 0px 30px;
    background-color:rgb(154, 195, 218,0.5);
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.vormista{
    background-color: rgba(130, 199, 147, 0.9);
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    transition: background-color 0.5s;
}
.vormista:hover{
    background-color: rgb(66, 143, 98, 0.9);
    cursor: pointer;
}
.vormista a:link{
    color: white;
}
.vormista a:visited{
    color: white;
}

table{
    border-collapse: separate;
    border-spacing: 0 5px;
    table-layout: auto;
    width: 85%;
    border: none;
}
th{
    height: 60px;
    text-align: left;
    background-color: rgb(192, 210, 221, 0.5);
    font-size: 19px;
    padding: 0px 10px;
}
td{
    height: 45px;
    background-color: rgb(240, 250, 255, 0.7);
    margin-bottom: 100px;
    padding: 5px 10px;
}

#backToFP{
    background-color: rgb(194, 224, 178);
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    font-family: inherit;
    font-size: 20px;
    width: 300px;
    transition: background-color 0.5s;
}
#backToFP:hover{
    background-color: rgb(66, 143, 98, 0.9);
    cursor: pointer;
}
#backToFP a:link{
    color: rgb(92, 92, 92);
}
#backToFP a:visited{
    color: rgb(92, 92, 92);
}






#footer{
    background-color:rgb(136, 161, 153, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(251, 255, 253);
}
#contacts{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#tel{margin-left: 30px; color:rgb(47, 109, 68);}#mail{margin-right: 30px; color:rgb(45, 114, 68);}
#copyright{
    width: 100%;
    background-color: rgb(95, 96, 99);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-envelope, .fa-phone{color: rgb(164, 209, 199);}




#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

